body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #509840;
}

#main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 525px;
  height: 356px;
  left: 377px;
  top: 201px;

  background: #FFFFFF;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  border-radius: 10px;
}

#title-container {
  /* position: absolute; */
  width: 268.6px;
  height: 56.14px;
  left: 504.68px;
  top: 260.02px;
}

#input-email { 
  position: absolute;
  width: 330px;
  height: 40px;
  left: 475px;
  top: 360px;

  background: #FFFFFF;
  border: 1px solid #003BE5;
  border-radius: 5px;
}

#wallet-title-container {
  position: absolute;
  width: 1037px;
  height: 482px;
  left: 121px;
  top: -50px;

  background: #FFFFFF;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  border-radius: 10px;
}

#title {
  position: absolute;
  width: 250.19px;
  height: 52.29px;
  left: 230.99px;
  top: 56.99px;
}

#total-expenses {
  position: absolute;
  width: 233px;
  height: 14px;
  left: 592px;
  top: 88px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  color: #003BE5;
}

#user-email{
  position: absolute;
  width: 123px;
  height: 14px;
  left: 931px;
  top: 88px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: #2FC18C;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
