body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#input-email { 
  position: absolute;
  width: 330px;
  height: 40px;
  left: 475px;
  top: 360px;

  background: #FFFFFF;
  border: 1px solid #003BE5;
  border-radius: 5px;
}

#title {

  width: 250.19px;
  height: 52.29px;

}

#user-email{
  /* position: absolute; */
  width: 123px;
  height: 14px;
  left: 931px;
  top: 88px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: #2FC18C;
}

#box-cinza {
  /* position: absolute; */
  width: 1137px;
  height: 134px;
  left: 121px;
  top: 156px;

  background: rgba(225, 229, 235, 0.49);
  border-radius: 0px;
  z-index: 1;
}

#blue-box {
  position: absolute;
  width: 1255px;
  height: 564px;
  left: 63px;
  top: 156px;

  z-index: -1;
  background: #003BE5;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  border-radius: 10px;
}

table {
  position: absolute;
  width: 1040px;
  height: 129px;
  left: 122px;
  top: 421px;
}

th {
  color: #FFFFFF;
}

#edit-form form {
  position: absolute;
  width: 1137px;
  height: 134px;
  left: 58px;
  top: 0px;

  background: rgba(225, 229, 235, 0.49);
  border-radius: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
